* {
    margin: 0px;
    padding: 0px;
    cursor: url(/assets/cursor/mouse_cursor.png), default !important;
}

html {
    height: 100%;
    width: 100%;
}

body {
    height: 100vh;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
}

::selection {
    background: none;
}